.ProductPreview{
    position: relative;
    width:100%;
    float:left;
}

.ProductPreview > img {
    width:50%;
}

.heading{
    line-height: 30px;   
}

.HeartBeatSection{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
}
.heart{
    
    max-height: 30%;
    max-width: 30%;
}

.time{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
}